
.info-bigwrapper {

    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.location-info, .owner-info {
    display: flex;
    position: relative;
}

.location-info {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.owner-info {
    width: 200px;
    height: 130px;
}

.location-title {
    width: 50%;
    font-size: 36px;
    font-weight: normal;
    color: #FF6060;
    margin-block-start: 0;
    margin-block-end: 0;
}

.location-subtitle, .owner-name {
    font-size: 18px;
    color: #FF6060;
}

.owner-name {
    width: 80px;
    position: absolute;
    top: 0;
    left: 45px;
    text-align: right;
}

.owner-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.five-stars {
    width: 180px;
    height: 40px;
    position: absolute;
    top: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 20px;
   
}

.tags-section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
}

.tag {
    width: 115px;
    height: 25px;
    background: #FF6060;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.tag-text {
    height: 15px;
    font-size: 14px;
    color: #FFFFFF 
}

@media all and (max-width: 767px) {


    .info-bigwrapper {
        margin-top: 15px;
        height: 140px;
    }

    .location-info {
        width: 100%;
    }

    .location-title {
        width: 100%;
        font-size: 18px;
    }

    .location-subtitle {
        width: 100%;
        font-size: 14px;
        
    }

    .tags-section {
        width: 100%;
        margin-top: 10px;
    }
    
    .tag {
        width: 84px;
        height: 18px;
        font-size: 10px;
        padding-top: 3px;
        border-radius: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .owner-info {
        width: 100%;
        height: 100px;
        margin-top: 15px;
        position: relative;
    }

    .owner-picture {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;
    }

    .star {
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }

    .five-stars {
        width: 100px;
        position: absolute;
        top: 5px;
        left: -7%;
    }

    .owner-name {
        font-size: 12px;
        position: absolute;
        left: 62.5%;
        top: 5px;
        
    }

}

@media all and (min-width: 425px) and (max-width: 450px) {
    .five-stars {
        left: -3%;
    }

}

@media all and (min-width: 650px) and (max-width: 667px) {
    .owner-name {
        left: 70%;
    }

}

@media all and (min-width: 667px) and (max-width: 767px) {
    .owner-name {
        left: 80%;
    }

    .five-stars {
        left: -3%;
    }

}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .info-bigwrapper {
        height: 200px;
    }
    
    .location-title {
        width: 100%;
    }

    .tags-section {
        width: 100%;
    }
}