.dropdowns-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content : space-between;
    margin-top: 20px; 
}

.dropdowns-wrapper-extended {
    width: 100%;
    height: 230px;
    display: flex;
    flex-flow: row wrap;
    justify-content : space-between;
    margin-top: 20px;
}

@media all and (max-width: 1024px) {

    .small-dropdowns-wrapper {
        height: 29.93px;
        margin-bottom: 50px;
    }

    .dropdowns-wrapper-extended {
        margin-bottom: 40px;
    }

    .eqdropdown-wrapper-extended {
        height: 250px;
    }

}

/* @media all and (min-width: 767px) and (max-width: 1024px) {

} */