.footer {
    width: 127.5%;
    height: 209px;
    background: #000000;
    margin-top: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-left: -15%; 
    margin-right: -15%;
   
}

.footer-subtitle {
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 40px;
}