.header-flex {
    
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
 
}

.kasa-logo {
    width: 210.32px;
    height: 68px;
}

.home-link {
    margin-right: 50px;
}

.home-link, .about-link {
    text-decoration: none;
    color: #FF6060;
    font-family: 'Montserrat', 'Arial', 'serif';
    font-size: 24px;
}

.home-link:hover, .about-link:hover {
   text-decoration: underline;
   
}

/* Mobile queries */


@media all and (min-width: 425px) and (max-width: 667px) {
    .header-flex {
      width: 100%;
    }
}

@media all and (max-width: 767px) {

    .header-flex {
        width: 88%;
        
    }

    .kasa-logo {
        width: 145px;
        height: 45px;
        margin-right: 4%;
    }

    .home-link, .about-link {
        font-size: 12px;
        text-transform: uppercase;
    }

    .home-link {
        width: 59px;
        height: 17px;
        margin-right: 10px;
    }

    .about-link {
        width: 71px;
        height: 17px;
    }

}

