

.homeBanner {
    margin-top: 80px;
}

.homeBanner-bg {
    position: relative;
}

.homeBanner-image, .homeBanner-layer {
width: 1240px;
height: 223px;
border-radius: 25px;

}

.homeBanner-layer
{
    background: #000000;
    position: absolute;
    top: 0;
    opacity: 0.4;
}

.homeBanner-text {
    width: 705px;
    height: 68px;
    font-size: 48px;
    position: absolute;
    top: 75px;
    left: 300px;
    color: #FFFFFF;

}