.location, .location-layer {
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.location {
    position: relative;
    background: #FF6060;
    margin-bottom: 50px;
}

.location-layer {
    position: absolute;
    background : linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    top: 0;
    left: 0;   
}

.location-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 90px;
    font-size: 18px;
    color: #FFFFFF
}

