.main-wrapper {
    margin-left: 5%;
    margin-right: 5%;
}


  @media all and (min-width: 425px) and (max-width: 1024px) {
    .main-wrapper {
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin: 0;
    }


  }