
.gallery-container {
    width: 92.5%;
    background: #F6F6F6;
    border-radius: 25px;
    margin-top: 43px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
}

@media all and (max-width: 767px) {

.gallery-container {
    
    width: 335px;
    margin-top: 22px;
    padding: 0;
    background: #FFFFFF;
    
}
}

@media all and (min-width: 425px) and (max-width: 767px) {
    .gallery-container {
        width: 90%;
        border-radius: 10px;
    }

}

@media all and (min-width: 650px) and (max-width: 767px) {
    .gallery-container {
        padding-left: 7.5%;
    }

}

@media all and (min-width: 768px) and (max-width: 880px) {
    .gallery-container {
        width: 85%;
    }

}

@media all and (min-width: 880px) and (max-width: 1440px) {
    .gallery-container {
        width: 90%;
    }

}