
.gallery-container {
    width: 93%;
    background: #F6F6F6;
    border-radius: 25px;
    margin-top: 43px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
}