



.homeBanner-bg {
    margin-top: 80px;
    position: relative;
}

.homeBanner-image, .homeBanner-layer, .homeBanner-flex {
    width: 100%;
    height: 223px;
    border-radius: 25px;

}


.homeBanner-layer
{
    background: #000000;
    position: absolute;
    top: 0;
    opacity: 0.4;
}

.homeBanner-text {
    width: 705px;
    height: 68px;
    font-size: 48px;
    position: absolute;
    top: 75px;
    left: 18%;
    color: #FFFFFF;

}