



.homeBanner-bg {
    margin-top: 80px;
    position: relative;
}

.homeBanner-image, .homeBanner-layer, .homeBanner-bg {
    width: 100%;
    height: 223px;
    border-radius: 25px;

}


.homeBanner-layer
{
    background: #000000;
    position: absolute;
    top: 0;
    opacity: 0.4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.homeBanner-text {
    width: 705px;
    height: 68px;
    font-size: 48px;
    color: #FFFFFF;
    

}

@media all and (max-width: 767px) {


    .homeBanner-bg{
        margin-top: 19.71px;
    }

    .homeBanner-image, .homeBanner-layer, .homeBanner-bg {
        width: 335px;
        height: 111px;
        border-radius: 10px;
    }

    .homeBanner-layer{
        justify-content: flex-start;
    }

    .homeBanner-text {
        width: 217px;
        font-size: 24px;
        position: absolute;
        left: 4%;
    }

}

@media all and (min-width: 425px) and (max-width: 767px) {
    .homeBanner-image, .homeBanner-bg {
        width: 95%;
        padding-left: 0.5%;
    }
    
    .homeBanner-layer {
        width: 95%;
        padding-left: 0;
    }
}

@media all and (min-width: 650px) and (max-width: 767px) {
    .homeBanner-image, .homeBanner-bg {
        width: 95%;
        padding-left: 2%;
    }
    
    
}
