.location, .location-layer {
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.location {
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
}

.cover-picture {
    width: 340px;
    height: 340px;
    z-index: 2;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

.location-layer {
    position: absolute;
    background : linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    top: 0;
    left: 0; 
    z-index: 3;  
}

.location-minititle {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 90px;
    font-size: 18px;
    color: #FFFFFF
}

@media all and (max-width: 767px) {


    .location, .cover-picture, .location-layer {
        height: 255px;
        border-radius: 10px;
    }

    .location {
        margin-bottom: 20px;
        width: 400px;
    }

}

@media all and (min-width: 425px) and (max-width: 649px) {
    .location, .cover-picture, .location-layer {
        width: 100%;
    }

}

@media all and (min-width: 650px) and (max-width: 820px) {
    .location {
        width: 90%;
    }

    .location-layer, .cover-picture {
        width: 100%;
    }

}

