
.dropdown-box2, .dropdown-box2-expanded {
    width: 80%;
    position: relative;
    margin-top: 33px;
}

.dropdown-box2-expanded {
    height: 150px;
    margin-bottom: 33px;
}

.dropdown-button2 {
    width: 100%;
    height: 52px;
    background: #FF6060;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    border: none;
    border-radius: 5px;
    z-index: 2;
    
}

.dropdown-title2 {
    font-size: 24px;
    position: absolute;
    left: 18.08px;
    top: 16.8px;
}

.arrow-up, .arrow-down {
    position: absolute;
    right: 25px;
    top: 16.8px;
}

.data-div2, .special-data-div {
    width: 100%;
    height: 146px;
    background: #F7F7F7;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    top: 30px;
    
    
}

.data-text {
    position : absolute;
    width: 958px;
    top: 20px;
    left: 18px;
    font-size: 24px;
    color: #FF6060;
    font-weight: 400;
    

}

.special-data-div {
    height: 246px;
}

@media all and (max-width: 1023px) {
    
    .dropdown-box2-expanded {
        height: 450px;
        margin-bottom: 0;
    }

    .data-div2 {
        height: 350px;
    }

    .special-data-div {
        height: 590px;
    }
}


@media all and (min-width: 768px) and (max-width: 1023px) {
    .dropdown-box2-expanded {
        height: 300px;
    }

    .data-div2 {
        height: 200px;
    }

    .special-data-div {
        height: 400px;
    }

}

@media all and (max-width: 1440px) {
    .data-text {
        width: 90%;
     }
}